{% extends "academy-base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'trials/css/trials.css' %}">
{% endblock %}



{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid callout-container">

    <!-- callout -->

    <div class="container-fluid callout-container">

        <section class="callout jumbotron text-center ">
            <h1 class=" highlighted p-light p-dark jumbotron-header">Congratulations you have been chosen for {{ trial.name }}
            </h1>
            <p class="highlighted pt-3">Trial Date : {{ trial.date }}</p>
            <p class="highlighted">Trial Time : {{ trial.time }}</p>
        </section>
    </div>

    <!-- /.callout -->

</div>


    
{% endblock %}

