{% extends "academy-base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'training/css/training.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid ">

    <!-- callout -->

    <div class="container-fluid ">
        <div class="opaque-overlay">&nbsp;</div>

        <section class="callout jumbotron text-center">
            <h1 class="p-light p-dark jumbotron-header"> Trials
            </h1>
        </section>
    </div>

    <!-- /.callout -->

</div>


<div class="row">
    <div class="training-container col-10 offset-1">
        <div class="row align-items-center ">
            {% for trial in trials %}
            <div class="col ">
                <div class="box">
                    <div class="sessionday">
                        <p class="sessiondayp">Trial</p>
                    </div>
                    <ul class="sessioninfo">
                        <li>
                            <div class="bold">
                                <p>{{ trial.name }}</p>

                            </div>
                        </li>
                        <li>
                            <div class="time">
                                <p></p>

                            </div>
                        </li>
                        <li>
                            <div class="viewlink">
                                <!-- If user has been selected show -->
                                {% if trial.player_selected %}
                                <a href="{% url 'trial_detail' trial.id %}">See event</a>

                                {% else %}
                                <!-- If user has not been selected show -->
                                <div class="time">
                                    <p>You have not been called for this trial</p>
                                </div>

                                {% endif %}

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
            <div class="col-6 d-sm-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>





{% endblock %}