{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid callout-container mt-5 home">

        <!-- callout -->

        <div class="container-fluid callout-container pt-5">
            
            <section class="callout jumbotron text-center mx-auto bg-transparent text-light">
                <h1 class="p-light p-dark jumbotron-header">Look your best on and off the pitch
                </h1>
                <div class="container pt-5">
                    <div class="row">
                        <a class="btn button button1 mx-auto" href="{% url 'products' %}">View products</a>
                    </div>
                </div>
            </section>
        </div>

        <!-- /.callout -->

    </div>

{% endblock %}