@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Roboto+Condensed&display=swap');


/* ---------------------------------------general */

html {
    height: 100%;
    font-family: Roboto;
}

body {
    background: url('/media/header-image.png');
    background-size: cover;
    height: calc(50vh - 164px);
    color: rgb(34, 34, 34);
    font-family: 'Roboto';
    z-index: 2;
}

.med-nav{
    margin-top: -50px;
}

ul {
    list-style-type: none;
}

.img-sm{
    width: 3px;
}

.opaque-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* ---------------------------------------text styles */

.textsm{
    color: white;
}

.bg-dark{
    background-color: #00040d!important;
}

/* ---------------------------------------topnav */

nav{
    z-index: 1;
}

.topnav{
    font-family: Ubuntu;
    text-decoration: none;
    z-index: 1;
}

.borderbtm{
    border-bottom: solid 1px white;
}

.topnav a:link{ color:#ffffff; } 
.topnav a:visited{ color:#ffffff; } 
.topnav a:hover{ 
    color:#c2c2c2;
    text-decoration: none;

} 
.topnav a:active{ color:#ffffff}

.topnav .nav-item{
    padding-right: 20px;
}

.right { 
    float:right; 
    clear:right;
}


.functionaltyul{
    position: absolute;
    right: 40px;
    display: inline;
}

.functiondivnav li{
    float:right;
    display: inline;
}

.dropdown{
    border-radius: none;
    border: solid 2px white;
    background-color: white; 
}

.dropdown-item { 
    background-color: white;
    color: black;
    margin-top: 5px;
    text-align: center;
 } 

.list-group-item{
    border: none;
    background-color: transparent;
    padding: 0px 0px 0px 20px;
}

.bars{
    font-size: 20px;
   
}
.bag{
    font-size: 20px;
}

.xbtn-sidenav{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}



/* ---------------------------------------buttons */

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid 2px white;
    color: white;

}

.button1 {
    letter-spacing: 2px;
    background-color: transparent;

}

.button1:hover {
    background-color: white;
    letter-spacing: 2px;
    color: black;
}

.spbutton{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin:10px
}





/* ---------------------------------------home */

.topheadertext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.home{
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.container{
    z-index: 2;
}

.jumbotron-header{
    font-family: Orbitron;
    font-size: 60px;
}


/* ---------------------------------------smallnavpopup */


.sidenav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgb(11 11 11);
    z-index: 5;

}

.sidenavtop{
    margin-top: 50%;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    
}

.sidenavtop li{
    padding-bottom: 15px;
    
}

.sidenavtop a{
    color: white ;
}

.hr{
    color: red;
}

.sidenavbtm{
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.headsidenav{
    letter-spacing: 2px;
    font-size: 20px;
}

.searchsidenav{
    position: absolute;
    top: 9%;
    left: 20px;
}

.serchbox{
    background-color: transparent;
    border-bottom: solid 2px white !important;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;

}


.icon{
    font-size: 19px;
}

/* ---------------------------------------toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ---------------------------------------general */
/* ---------------------------------------general */

/* ---------------------------------------general */
/* ---------------------------------------general */
/* ---------------------------------------general */
/* ---------------------------------------general */
/* ---------------------------------------general */
/* -------------------------------------------------------------meadia queries */

/* ---------------------------------------@media x-small */

@media (max-width: 576px) {

    .right { 
        width:0%; 
    }

   
    .menusm{
        display: block ;
        position: absolute;
        top: 70px;
        right: 70px;
        font-size: 15px;
    }

    .textsm{
        display: none;
    }

    .jumbotron-header{
        font-size: 35px;
    }


    .itemsnav{
        display: none;
    }


    .functiondivnav{
        display: none;
    }

    .sidenav{
        position: absolute;
        left: 25%;
    
    }
  }

/* ---------------------------------------@media Small */

@media (min-width: 576px) {
    .textsm{
        font-size: 10px;
    }
    .textsm{
        display: none;
    }

    .sidenav{
        position: absolute;
        left: 60%;
    

    }

   
    .functiondivnav{
        display: none;
    }

    .itemsnav{
        display: none;
    }

    .menusm{
        display: block ;
        position: absolute;
        top: 70px;
        right: 70px;

    }

   
  }

/* ---------------------------------------@media Medium */

@media (min-width: 768px) {
    

    .right { 
        width:10%; 
    }

    .textsm{
        display: none;
    }
    
    

    .functiondivnav{
        display: none;
    }

    .sidenav{
        position: absolute;
        left: 60%;
    

    }

    .itemsnav{
        display: none;
    }

  }


/* ---------------------------------------@media Large */

@media (min-width: 992px) {
    .topnav{
        width: 800px;
    }

    .right { 
        width:14%; 
    }

    .nav-item-head{
        font-size: 11px !important;
        margin-right: 20px;
        font-weight: bold;
    }

    .menusm{
        display: none ;
    }

    .textsm{
        display: block;
    }


    .functiondivnav{
        display: block;
    }

    .itemsnav{
        display: block;
    }

    .sidenav{
        display: none;
    
    }

    .nav-item-head{
        letter-spacing: 1px;
        font-size: 11px !important;
        
    }

  }

/* ---------------------------------------@media Extra large */

@media (min-width: 1200px) {
    .topnav{
        width: 1000px;
    }

    .textsm{
        font-size: 14px;
    }

    .right { 
        width:29%; 
    }


    .nav-item-head{
        font-size: 15px !important;
    }
  }

/* ---------------------------------------@media Extra extra large */

@media (min-width: 1400px) {
    .topnav{
        width: 1200px;
    }
    
    .right { 
        width: 35%;
    }

    .textsm{
        font-size: 16px;
    }

    .nav-item-head{
        letter-spacing: 2px;
    }
  }

/* ---------------------------------------@media Extra extra extra large */

@media (min-width: 1800px) {
    .topnav{
        width: 1400px;
    }

    .right { 
        width: 42%;
    }

    .textsm{
        font-size: 17px;
    }
  }






/* --------------------------------------- The search bar  */

.formPopup{
    position: absolute;
    top: 0;
    background-color: #01050e!important;
    height: 210px;
    width: 100%;
    z-index: 5;

}

.xbtn{
    color: white;
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 25px;
}

.nav-item{
    color: white;
}

.serchbox{
    border-bottom: solid 2px black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 75%;
}

.loginPopup{
    z-index: 4;
}

.searchbox{
    margin-top: 80px !important;
}

.searchbtn{
    border: none;
    background-color: transparent;
    color: white;
    

}
