{% extends "academy-base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid callout-container">

    <!-- callout -->

    <div class="container-fluid callout-container">
        <div class="opaque-overlay">&nbsp;</div>

        <section class="callout jumbotron text-center">
            <p class="highlighted">{{ session.day }}</p>
            <h1 class="p-light p-dark jumbotron-header">{{ session.name }}
            </h1>
        </section>
        <div class="mx-auto">
            <a class="mx-auto" href="{% url 'session_attend' session.id  %}">Attend</a>
        </div>

        <p>Create a comment</p>
        <input type="text" >

        <div>
            <h1>Comments</h1>

        </div>
    </div>

    <!-- /.callout -->

</div>


    
{% endblock %}

