{% extends "academy-base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'training/css/training.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <!-- callout -->

  <div class="container-fluid">

    <section class="callout jumbotron text-center">
      <h1 class="p-light p-dark jumbotron-header">{{ session.name }}
      </h1>
      <h4 class="highlighted">{{ session.day }}</h4>
      <h4 class="highlighted">{{ session.time }}</h4>
    <div class="containier">
      <div class="row">
        <div class="mx-auto pt-3">
          {% if request.user in session.attendees_list  %}
          <a class="mx-auto  button button1" href="{% url 'session_unattend' session.id  %}">Unattend</a>
    
          {% else %}
          <a class="mx-auto  button button1" href="{% url 'session_attend' session.id  %}">Attend</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  </div>

  <!-- /.callout -->

</div>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="pt-5 pb-5">Comments</h1>
    
    </div>
  </div>
</div>
<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3  mx-auto">
      <div class="card-body">
        <!-- comments -->
        <h2 class="">{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 mx-auto commentssection ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <form method="POST" style="margin-top: 1.3em;" action="{% url 'session_detail' session.id %}">
          <h3>Leave a comment</h3>
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}
