{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>FAI {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar-responsive navbar-expand-lg topnav mx-auto borderbtm">
        <div class="textsm">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=training_wear">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="dropdown">Academy</a>
                    <div class="dropdown-menu border-2 dropdown" aria-labelledby="account-link">
                        <a href="{% url 'account_login' %}" class="dropdown-item  text-dark">Sign in </a>
                        <a href="{% url 'account_signup' %}" class="dropdown-item text-dark">Register</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg topnav mx-auto">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="/media/92be6962682d46918deb877977e7925f (5).png" alt="logo FAI"
                width="140" height="140">
        </a>
        <div class="itemsnav">
            <ul class="navbar-nav mx-auto-sm mr-auto-bg header-nav-text">
                <li>
                    <a class="nav-item-head" href="{% url 'products' %}">ALL PRODUCTS</a>
                </li>
                <li>
                    <a class="nav-item-head" href="{% url 'products' %}?category=training_wear">TRAINING GEAR</a>
                </li>
                <li>
                    <a class="nav-item-head" href="{% url 'products' %}?category=boots">FOOTBALL BOOTS</a>
                </li>
                <li>
                    <a class="nav-item-head" href="{% url 'products' %}?category=essentials">ESSENTIALS</a>
                </li>
            </ul>
        </div>
        <!-- phone nav -->
        <div class="menusm">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item text-light" onclick="openMainNavMenu()">
                    <a class="bars"><i class="fas fa-bars"></i></a>
                </li>
                <li class="list-group-item text-light">
                    <a class="bag" href="{% url 'view_bag' %}"><i class="fas fa-shopping-bag"></i></a>
                    
                </li>
            </ul>
        </div>
        <!--  -->
        <ul class=" navbar-nav w-auto right my-auto functiondivnav functionaltyul">
            <!-- <li class="nav-item">
                <a class="" href="{% url 'view_bag' %}"><i class="fas fa-shopping-bag"></i></a>
            </li> -->
            <li class="nav-item">
                <a class="my-0">
                    {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                    {% else %}
                        $0.00
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="" href="{% url 'view_bag' %}"><i class="fas fa-shopping-bag"></i>
            </li>
            <li class="nav-item">
                <a class=""><i onclick="openForm()" class="fa fa-search"></i></a>
            </li>
        </ul>
    </nav>

    <!-- small nav popup -->
    <div class="sidenav" id="popupnavsm" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="searchsidenav">
                    <form method="GET" action="{% url 'products' %}">
                        <input class="serchbox" type="text" type="text" name="q" placeholder="Search our site">
                        <button class="searchbtn" type="submit">
                            <a class="icon">
                                <i class="fas fa-search"></i>
                            </a>
                        </button>
                    </form>
                </div>
                <div class="xbtn-sidenav">
                    <a onclick="CloseMainNavMenu()">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="sidenavtop">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="" href="{% url 'products' %}">ALL PRODUCTS</a>
                        </li>
                        <li class="list-group-item">
                            <a class="" href="{% url 'products' %}?category=training_wear">TRAINING GEAR</a>
                        </li>
                        <li class="list-group-item">
                            <a class="" href="{% url 'products' %}?category=boots">FOOTBALL BOOTS</a>
                        </li>
                        <li class="list-group-item">
                            <a class="" href="{% url 'products' %}?category=essentials">ESSENTIALS</a>
                        </li>
                    </ul>
                </div>
                <hr class="hr">
                <div class="sidenavbtm text-light">
                    <ul class="list-group">
                        <li>
                            <li class="list-group-item">
                                <a class="" href="#">Home</a>
                            </li>
                            <li class="list-group-item">
                                <a class="" href="{% url 'products' %}">All Products</a>
                            </li>
                        </li>
                        <li class="list-group-item">
                            <p class="headsidenav">The Academy</p>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'account_login' %}" class="dropdown-item">Sign in </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- credit  to ww3 schools for form popup https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_form -->
    <div class="loginPopup" sty>
        <div class="formPopup" id="popupForm" style=" display:none;">
            <div class="container">
                <div class="row">
                    <div class=" searchbox pt-5">
                        <form method="GET" action="{% url 'products' %}">
                            <input class="serchbox" type="text" type="text" name="q" placeholder="Search our site">
                            <button class="searchbtn" type="submit">
                                <a class="icon">
                                    <i class="fas fa-search"></i>
                                </a>
                            </button>
                        </form>

                        <!-- <input class="serchbox" type="text"></input>
                        <button type="button" class="btn cancel button button2 special" onclick="closeForm()">Search</button> -->
                    </div>
                </div>
                <div class="xbtn">
                    <button type="button" class="btn xbtn" onclick="closeForm()"><i class="fas fa-times"></i></button>
                </div>
            </div>

        </div>
    </div>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% include 'includes/toasts/toast_success.html' %}
        {% endfor %}
    </div>
    {% endif %}


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
   
    <script>
        // credit to ww3 schools for media popup

        function openForm() {
            document.getElementById("popupForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }

        function openMainNavMenu() {
            document.getElementById("popupnavsm").style.display = "block";
        }

        function CloseMainNavMenu() {
            document.getElementById("popupnavsm").style.display = "none";
        }
    
    </script>
    {% endblock %}
    <script>
        $('.toast').toast('show');
        console.log('Toast');
   </script>


</body>
</body>

</html>