{% extends "academy-base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container bg-dark">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- <div class="container-fluid callout-container academy-head bg-dark">


    <div class="container-fluid callout-container g-0 academyheader" >

        <section class="index jumbotron text-center jumbo-section g-0 bg-transparent" id="mask">
            {% if request.user.is_authenticated %}
            <div>
                <h1 class="p-light p-dark jumbotron-header">Welcome to <br>
                    Football Academy Ireland
               </h1>
            </div>
            <div>
                <p class="academyheadp">View all Training & Get the chance to get invited to one of out inhouse Trials</p>
            </div>
            <button class="button"><a href="{% url 'training' %}" class="button">Training</a></button>
            <button class="button"><a href="{% url 'trials' %}" class="button">Trials</a></button>
    
            {% else %}
            <h1 class="p-light p-dark jumbotron-header">This is Football Academy Ireland
            </h1>
            <p class=" p-lighter p-darker lead">Click below to join.</p>
            <button><a href="{% url 'account_signup' %}" class="button">Join</a></button>
            {% endif %}
        </section>

    </div> -->

    <div class="container-fluid callout-container" id="index.html">
        <!-- Callout -->

        <section class="index jumbotron text-center jumbo-section g-0 bg-transparent" id="mask">
            {% if request.user.is_authenticated %}
            <div>
                <h1 class="p-light p-dark jumbotron-header text-light">Welcome to <br>
                    Football Academy Ireland
               </h1>
            </div>
            <div>
                <p class="academyheadp">View all Training & Get the chance to get invited to one of out inhouse Trials</p>
            </div>
            <button class="button button1"><a href="{% url 'training' %}" class="button">Training</a></button>
            <button class="button button1"><a href="{% url 'trials' %}" class="button">Trials</a></button>
    
            {% else %}
            <h1 class="p-light p-dark jumbotron-header text-light">This is Football Academy Ireland
            </h1>
            <p class="academyheadp p-lighter p-darker lead">Click below to join.</p>
            <button class="button button1"><a href="{% url 'account_signup' %}" class="button">Join</a></button>
            {% endif %}
        </section>

        <!-- /.callout -->
    </div>

    <!-- <section style="padding-top: 100px;">
        <div class="container about-div">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                <div class="col about-text about-text-center">
                    <div>
                        <h1 class="about-heading">ABOUT DAFT PUNK<br /></h1>
                        <p class="lead about-text about-text-center">
                            <br />
                            Daft Punk ( formed 1993 ) are a two-man French electronic music team. They emerged out of the French house music scene to become worldwide stars in dance music and later mainstream pop music. ... The robot
                            helmets mesh with the duo's tendency to blend futuristic elements with classic disco and pop sounds in their music. &nbsp;<br />
                            <br />
                        </p>
                    </div>
                </div>
                <div class="col about-text about-text-center">
                    <img class="redimg" alt="image of one of the daft punk members posing " src="assets/img/about-pic-.png" />
                </div>
            </div>
        </div>
    </section> -->
    
</div>

    <!-- /.callout -->

{% endblock %}

{% block postloadjs %}

<script>

function linkto() {
    window.location.href("accounts/signup/")
}

</script>

{% endblock %}