{% extends "academy-base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid callout-container">

    <!-- callout -->

    <div class="container-fluid callout-container">
        <div class="opaque-overlay">&nbsp;</div>

        <section class="callout jumbotron text-center">
            {% if request.user.is_authenticated %}
            <h1 class="p-light p-dark jumbotron-header">Welcome to FAI Academy
            </h1>
            <p class=" p-lighter p-darker lead">Click below to view all training session.</p>
            <button><a href="{% url 'training' %}" class="button">View</a></button>
            {% else %}
            <h1 class="p-light p-dark jumbotron-header">FAI Academy
            </h1>
            <p class=" p-lighter p-darker lead">Click below to join.</p>
            <button><a href="{% url 'account_signup' %}" class="button">Join</a></button>
            {% endif %}
        </section>
    </div>

    <!-- /.callout -->

</div>

{% endblock %}

{% block postloadjs %}

<script>

function linkto() {
    window.location.href("accounts/signup/")
}

</script>

{% endblock %}