{% extends "academy-base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid callout-container">

    <!-- callout -->

    <div class="container-fluid callout-container">
        <div class="opaque-overlay">&nbsp;</div>

        <section class="callout jumbotron text-center">
            <h1 class="p-light p-dark jumbotron-header">FAI Academy
            </h1>
            <p class=" p-lighter p-darker lead">Click below to join.</p>
            <button class="button" onclick="contact()">Join</button>
        </section>
    </div>

    <!-- /.callout -->

</div>

{% endblock %}